<!DOCTYPE html>
<html>
<head>
	<title>MovieFlix!</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon-film.ico') }}">
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.date.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.time.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/picker.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/picker.date.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/picker.time.js') }}"></script>
	<script>
			$(document).ready(function() {
				function disableBack() { window.history.forward() }
		
				window.onload = disableBack();
				window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
			});
	</script>
	<script type="text/javascript">
		$(function() {
			$('#datepicker-cashier').pickadate({
				min : new Date(),
				formatSubmit: 'yyyy/mm/dd',
				hiddenName: true,
				onSet: function( event ) {
					if ( event.select ) {
						$('#datepicker-cashier').prop('disabled', true);
						getMoviesShowingOnDate(this.get('select', 'yyyy/mm/dd' ));
					}
				}
			}); 
		});
	</script>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron login-header after-login">
		<i class="fas fa-film"></i>
		<h1>MovieFlix!</h1>
		<h4>A one stop solution for Booking your Seats in Theatre</h4>
	</div>
    <div class="module module-after-login">
<button onclick="document.getElementById('change-location').disabled=true;this.disabled=true;getShowsShowing()" class="btn btn-warning" id="btn1">View Bookings</button>
<div id="disp_name" style="display: inline-block; vertical-align: middle; margin-left: 25px; margin-right: 25px; margin-top: 28px; font-size: 32px; border: 3px solid #FFFFFF; padding-bottom: 6px; padding-top: 3px; padding-left: 8px; padding-right: 8px; border-radius: 20px">{{message}}</div>
<!--h5 >{{ message }}</h5></button-->
<!--a href="{{ url_for('logout') }}"--><button class="btn btn-warning" onclick="location.href='/logout'">Logout</button><!--/a--><br/>
<span style="font-size:20px;">Selected Location: {{location}}<button id="change-location" onclick="document.getElementById('btn1').disabled=true;this.disabled=true;changepincode()">Change Location</button></span>
<input id="datepicker-cashier" placeholder="Pick a date">
<div id="movies-on-date"></div>
<div id="available-theatres"></div>
<div id="timings-for-movie"></div>
<div id="available-seats"></div>
<div id="price-and-confirm"></div>
<div id="coupon-section"></div>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
</div>
</div>
</body>
</html>