<!DOCTYPE html>
<html>
    <head>
        <title>MovieFlix</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon-film.ico') }}">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/css/all.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.date.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.time.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                function disableBack() { window.history.forward() }
        
                window.onload = disableBack();
                window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron login-header after-login">
                <i class="fas fa-film"></i>
                <h1>MovieFlix!</h1>
		        <h4>A one stop solution for Booking your Seats in Theatre</h4>
            </div>
            <div class="module module-after-login">
                <div class="container-login100">
                    <div class="wrap-login100 p-t-50 p-b-90">
                        <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/passreset">
                            <span class="login100-form-title p-b-51" style="color:red;">
                                {{ message }} 
                            </span>
                            <div class="wrap-input100 validate-input m-b-16" data-validate = "Email is required">
                                <input class="input100" type="email" name="email" placeholder="Email" autocomplete="off">
                                <span class="focus-input100"></span>
                            </div>
                            <a href='/'>Go Back To Log In</a>
                            <div class="container-login100-form-btn m-t-17">
                                <button class="btn btn-warning">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>