<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <span class="login100-form-title p-b-51">
                password updated !!
            </span>
            <div class="flex-sb-m w-full p-t-3 p-b-24">
                <div>
                    click on link to login -> 
                    <a href="{{url_for('login')}}" class="txt1">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>