<!DOCTYPE html>
<html>
<head>
	<title>MovieFlix!</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon-film.ico') }}">
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.date.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.time.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/picker.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/picker.date.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/picker.time.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
    <script>
        $(document).ready(function() {
            function disableBack() { window.history.forward() }
        
            window.onload = disableBack();
            window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron login-header after-login">
		<i class="fas fa-film"></i>
		<h1>MovieFlix!</h1>
		<h4>A one stop solution for Booking your Seats in Theatre</h4>
	</div>
    <div class="module module-after-login">
            <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/confirm" action="/resend">
                <span class="login100-form-title p-b-51" style="color:red;">
					{{ message }} 
				</span>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "OTP is required">
                    <input class="input100" type="number" name="otp" placeholder="Enter OTP sent to you via E-mail" maxlength="4" autocomplete="off">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="btn btn-warning">
                        Submit
                    </button>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    
                <a href="{{url_for('resend')}}"class="txt1">
                    
                resend
                </a>
                </div>
            </form>
        </div>
</div>
</body>
</html>